:root {
  --accent: rgb(154, 227, 222);
  --dusty-blue: rgb(73, 115, 153);
  --darkness: rgb(46, 58, 58);
}

/* Reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* End Reset */

body {
  min-width: 320px;;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Headings */
h1 {
  color: var(--darkness);
  font-size: 2.85rem;
  margin: -0.5rem 0 -1.35rem;
  text-align: center;
}

h2,
#about h3 {
  margin: 1.1rem 0 0.5rem;
}

#contact h3 {
  margin-top: 1.1rem;
}

h2 {  
  background-color: var(--accent);
  border-bottom: none;
  color: var(--darkness);
  font-size: 1.55rem;
  letter-spacing: 0.5px;
  padding: 0.1rem 0.4rem;
}

h3 {
  border-bottom: solid 3px var(--dusty-blue);
  font-size: 2rem;
  margin: 2.5rem 0 0.5rem;
}

/* Navigation elements */
nav ul,
#contact ul {
  list-style: none;
  padding: 0;
}

nav {
  font-size: 0.9rem;
}

nav ul {
  align-items: center;
  background-color: var(--darkness);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 2.9rem;
  justify-content: center;
  margin-bottom: 0;
}
nav li {
  border-bottom: solid 3px var(--accent);
  padding: 0 0.35rem;
}

nav a {
  color: var(--accent);
}

/* Hero */
.hero-banner {
  align-items: flex-end;
  background-blend-mode: multiply;
  background-color: rgb(148, 203, 239);
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 13.5rem;
  justify-content: center;
  width: 100%;
}

main,
footer {
  color: var(--dusty-blue);
  margin: 0 auto;
  width: 88%;
}

#about p {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 1rem;
}

/* Work samples */
#work .section-content {
  column-gap: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  background-color: #000;
  border: solid 3px var(--accent);
  color: var(--darkness);
  flex: 0 1 97%;
  margin:  0 0 0.85rem;
  overflow: hidden;
  position: relative;
}

figure:first-child {
  margin-top: 1rem;
}

figure a {
  display: block;
  height: 23vw;
}

figure img {
  opacity: 0.6;
  height: auto;
  position: absolute;
}

figure img:hover {
  opacity: 1;
}

/* Project image crops - scale with viewport width */
#project1 img {
  bottom: -28vw;
  width: 140vw;
}

#project2 img {
  width: 140vw;
}

#project3 img {
  left: -8vw;
  width: 140vw;
}

#project4 img {
  bottom: -28.5vw;
  left: -85vw;
  width: 180vw;
}

#project5 img {
  width: 125.5vw;
}

/* figcaptions are rendered as title tabs */
figcaption {
  background-color: var(--accent);
  bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
}

/* Place project tech details on separate line */
figcaption span {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
}

#contact li {
  margin-bottom: 0.5rem;
}
#contact a {
  border-bottom: solid 3px var(--dusty-blue);
  color: var(--dusty-blue);
  padding-bottom: 0.25rem;
}

#contact a,
#cv a {
  border-bottom: solid 3px var(--dusty-blue);
  color: var(--dusty-blue);
  padding: 0 0.3rem 0.25rem;
}

/* Add white space at bottom of page */
footer {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 340px) {
  nav {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 580px) {

  #about .section-content {
    display: flex;
    gap: 2%;
  }

  #about p {
    flex: 0 1 49%;
    /* Allow a little more space to left of gutter */
    padding-right: 0.75rem;
  }

}

@media only screen and (min-width: 850px) {
  
  main section,
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
  }

  footer section {
    align-items: center;
  }

  header {
    /* Use wide layout syle */
    background-color: var(--darkness);
    flex-direction: row;
    height: 5.5rem;
    justify-content: space-between;
  }

  h1 {
    background-color: var(--accent);
    font-size: 3.5rem;
    height: 3.9rem;
    line-height: 1;
    margin-top: 0.9rem;
    padding: 0 1rem 0 5rem;
  }

  h2 {
    font-size: 1.7rem;
  }
  
  h3 {
    border-bottom: none;
    border-right: solid 3px var(--dusty-blue);
    flex: 0 0 20%;
    /* Scale font with viewport width */
    font-size: 4vw;
    line-height: 1;
    padding: 0.5rem 1rem 2rem 0;
    text-align: right;
  }

  #about h3 {
    padding-top: 0;
  }

  nav {
    align-self: flex-end;
    font-size: 1.1rem;
    padding: 0 5rem 1rem 0;    
  }

  .hero-banner {
    justify-content: flex-end;
    padding: 0 5rem 1.3rem 0;
  }

  main,
  footer {
    max-width: 1232px;
  }

  main {
    margin-top: 0.6rem;
  }

  #work {
    margin-top: -1rem;
  }

  #work .section-content {
    margin-top: 2.2rem;
  }

  .section-content {
    flex: 0 0 77%;
  }
  
  footer .section-content {
    display: flex;
    justify-content: space-around;
  }

  figure {
    flex: 0 1 49%;
  }

  figure:first-child {
    flex: 0 1 100%;
  }

  figure a {
    height: 7rem;
  }

  #project1 a {
    height: 19.5rem
  }

  /* Project image crops - scale with viewport width */
  #project1 img {
    bottom: -28vw;
    width: 140vw;
    right: -60vw;
  }

  #project2 img {
    left: -10.5vw;
    width: 80vw;
  }

  #project3 img {
    left: 0;
    width: 49vw;
  }

  #project4 img {
    bottom: -11.5vw;
    left: -33vw;
    width: 70vw;
  }

  #project5 img {
    width: 49vw;
  }
}

@media only screen and (min-width: 1400px) {
  h3 {
    font-size: 3.5rem
  }

  /* Fixed width container - use absolute image sizes based on dev tools computed sizes */
  #project1 img {
    bottom: -392px;
    width: 1959px;
    right: -839px;
  }

  #project2 img {
    left: -147px;
    width: 1119px;
  }

  #project3 img {
    width: 686px;
  }

  #project4 img {
    bottom: -161px;
    left: -462px;
    width: 979px;
  }

  #project5 img {
    width: 686px;
  }
  
}
