:root {
  --accent: rgb(154, 227, 222);
  --dusty-blue: rgb(73, 115, 153);
  --darkness: rgb(46, 58, 58);

  --pro: 1652;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--accent);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Guide */

.guide {
  background-image: url("https://www.primitive.co/fed/guides/desktop.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: calc(100vw * var(--pro));
  position: absolute;
  top: 0;
  opacity: 0.2;
  z-index: 1000;
  display: none;
}

/* End Guide */

/* Headings */
h1 {
  color: var(--darkness);
  font-size: 2.85rem;
  margin: -0.5rem 0 -1.35rem;
  text-align: center;
}

h2,
#about h3 {
  margin: 1.1rem 0 0.5rem;
}

#contact h3 {
  margin-top: 1.1rem;
}

h2 {  
  background-color: var(--accent);
  border-bottom: none;
  color: var(--darkness);
  font-size: 1.55rem;
  letter-spacing: 0.5px;
  padding: 0.1rem 0.4rem;
}

h3 {
  font-size: 2rem;
  border-bottom: solid 3px var(--dusty-blue);
  margin: 2.5rem 0 0.5rem;
}

/* Navigation elements */
nav ul,
#contact ul {
  list-style: none;
  padding: 0;
}

nav ul {
  align-items: center;
  background-color: var(--darkness);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 2.9rem;
  justify-content: center;
  margin-bottom: 0;
}
nav li {
  border-bottom: solid 3px var(--accent);
  padding: 0 0.35rem;
}

nav a {
  color: var(--accent);
}

/* Hero */
.hero-banner {
  align-items: flex-end;
  background-blend-mode: multiply;
  background-color: rgb(148, 203, 239);
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 13.5rem;
  justify-content: center;
  width: 100%;
}

main,
footer {
  color: var(--dusty-blue);
  margin: 0 auto;
  width: 88%;
}

main p {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 1rem;
}

/* Work samples */
#work .section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2%;
}

figure {
  flex: 0 1 97%;
  background-color: #000;
  color: var(--darkness);
  border: solid 3px var(--accent);
  margin:  0 0 0.85rem;
  position: relative;
}

figure:first-child {
  margin-top: 1rem;
}

/* a element contains img element - overflow: hidden allows us to crop non-proportionally */
figure a {
  display: block;
  height: 6.5rem;
  overflow: hidden;
}

figure img {
  height: 100%;
  opacity: 0.6;
}

/* Project image crops */
#project1 img {
  transform: scale(4);
  object-position: 50px -8.5px;
}

#project2 img {
  transform: scale(5);
  object-position: 50px 15px;
}

#project3 img {
  transform: scale(4.6);
  object-position: 50px 40px;
}

#project4 img {
  transform: scale(4.6);
  object-position: 45px 31px;
}

#project5 img {
  transform: scale(3.15);
  object-position: 62.5px 35px;
}

/* figcaptions are rendered as title tabs */
figcaption {
  background-color: var(--accent);
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.4;
}

/* Place project tech details on separate line */
figcaption span {
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
}

#contact li {
  margin-bottom: 0.5rem;
}
#contact a {
  color: var(--dusty-blue);
  border-bottom: solid 3px var(--dusty-blue);
  padding-bottom: 0.25rem;
}

#contact a,
#cv a {
  color: var(--dusty-blue);
  border-bottom: solid 3px var(--dusty-blue);
  padding: 0 0.3rem 0.25rem;
}

/* Add white space at bottom of page */
footer {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 850px) {
  
  main section,
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
  }

  footer section {
    align-items: center;
  }

  header {
    /* Use wide layout syle */
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--darkness);
    height: 5.5rem;
  }

  h1 {
    background-color: var(--accent);
    margin-top: 0.9rem;
    font-size: 3.5rem;
    line-height: 1;
    height: 3.9rem;
    padding: 0 1rem 0 5rem;
  }

  h2 {
    font-size: 1.7rem;
  }
  
  h3 {
    font-size: 3.5rem;
    flex: 0 0 20%;
    text-align: right;
    border-bottom: none;
    border-right: solid 3px var(--dusty-blue);
    padding: 0.5rem 1rem 2rem 0;
    line-height: 1;
  }

  #about h3 {
    padding-top: 0;
  }

  nav {
    align-self: flex-end;
    font-size: 1.1rem;
    padding: 0 5rem 1rem 0;    
  }

  .hero-banner {
    justify-content: flex-end;
    justify-content: flex-end;
    padding: 0 5rem 1.3rem 0;
  }

  main {
    margin-top: 0.6rem;
  }

  #work {
    margin-top: -1rem;
  }

  #work .section-content {
    margin-top: 2.2rem;
  }

  .section-content {
    flex: 0 0 77%;
  }
  
  footer .section-content {
    display: flex;
    justify-content: space-around;
  }

  figure {
    flex: 0 1 48%;
  }

  figure:first-child {
    flex: 0 1 98.5%;
  }

  figure a {
    height: 7rem;
  }

  #project1 a {
    height: 19.5rem
  }

  /* Project image crops */
  #project1 img {
    object-position: 68px -25px;
  }

}